In [3]:
import numpy as np
from torchvision import datasets, models, transforms
from torchvision.models import ResNet18_Weights
import os
import torch
import torch.nn as nn
import torch.optim as optim
from torch.optim import lr_scheduler
import copy
import matplotlib.pyplot as plt
import torchvision
from PIL import Image
from torch.utils.data import Dataset
from torch.utils.data import DataLoader
import tqdm
import pandas as pd

In [4]:
class HydraNet(nn.Module):
    def __init__(self):
        super().__init__()
        self.net = models.resnet18(weights=ResNet18_Weights.IMAGENET1K_V1)
        for param in self.net.parameters():
            param.requires_grad = False

        self.n_features = self.net.fc.in_features
        self.net.fc = nn.Identity()

        # head for circle
        self.net.fc1 = nn.Sequential(nn.Linear(self.n_features, 2))

        # head for h_bar
        self.net.fc2 = nn.Sequential(nn.Linear(self.n_features, 2))

        # head for triangle
        self.net.fc3 = nn.Sequential(nn.Linear(self.n_features, 2))

        # head for v_bar
        self.net.fc4 = nn.Sequential(nn.Linear(self.n_features, 2))

    def forward(self, x):
        circle_head = self.net.fc1(self.net(x))
        h_bar_head = self.net.fc2(self.net(x))
        triangle_head = self.net.fc3(self.net(x))
        v_bar_head = self.net.fc4(self.net(x))
        return circle_head, h_bar_head, triangle_head, v_bar_head

In [12]:
def predict_image(im_name, model, device):
    transform = transforms.Compose([transforms.ToTensor(),
                                    transforms.Normalize([0.485, 0.456, 0.406], [0.229, 0.224, 0.225])])
    img = Image.open(im_name)
    input = transform(img)
    input = input.to(device)
    input = input.unsqueeze(0)
    model.eval()
    circle_output, h_bar_output, triangle_output, v_bar_output = model(input)
    _, circle_preds = torch.max(circle_output, 1)
    _, h_bar_preds = torch.max(h_bar_output, 1)
    _, triangle_preds = torch.max(triangle_output, 1)
    _, v_bar_preds = torch.max(v_bar_output, 1)
    return {'im_name': im_name, 'circle_hn': circle_preds.item(), 'h_bar_hn': h_bar_preds.item(), 
            'triangle_hn': triangle_preds.item(), 'v_bar_hn': v_bar_preds.item()}


def generate_predictions_for_dataset(data_dir, model, device):
    """
    Function that takes in model, data directory containing two folders labeled with class names as input and generates
    predictions for all images in that directory
    :param data_dir:
    :param model:
    :param device:
    :param class_names:
    :return:
    """
    df_predictions = []
    for label in ['0', '1']:
        for im in os.listdir(data_dir + "/" + label):
            if im == ".DS_Store":
                continue
            full_im_path = data_dir + "/" + label + "/" + im
            prediction = predict_image(full_im_path, model, device)
            prediction['y'] = label
            df_predictions.append(prediction)
    return pd.DataFrame(df_predictions)

In [8]:
device = "cpu"
model = HydraNet().to(device=device)
model.load_state_dict(torch.load("HydraNet.pth", map_location=torch.device('cpu')))

In [13]:
df_predictions = generate_predictions_for_dataset("./data_full_pipeline", model, device)

In [14]:
df_predictions

,im_name,circle_hn,h_bar_hn,triangle_hn,v_bar_hn,y
0,./data_full_pipeline/0/img_2373.png,0,1,0,0,0
1,./data_full_pipeline/0/img_6115.png,0,0,0,0,0
2,./data_full_pipeline/0/img_9540.png,0,0,0,0,0
3,./data_full_pipeline/0/img_8886.png,0,0,0,1,0
4,./data_full_pipeline/0/img_4070.png,0,0,1,1,0
...,...,...,...,...,...,...
9995,./data_full_pipeline/1/img_1105.png,0,0,0,1,1
9996,./data_full_pipeline/1/img_7574.png,1,0,0,1,1
9997,./data_full_pipeline/1/img_8647.png,0,0,0,1,1
9998,./data_full_pipeline/1/img_7212.png,1,1,0,1,1
9999,./data_full_pipeline/1/img_8121.png,1,1,1,0,1

In [18]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, penalty = None).fit(df_predictions[['circle_hn', 'h_bar_hn', 'triangle_hn', 'v_bar_hn']], 
                                                             df_predictions['y'])

In [19]:
clf.coef_

array([[-0.00448734,  1.07854064,  0.01015436,  1.6502526 ]])

In [32]:
df_predictions.to_csv("neural_network_logistic_regression.csv")
df_predictions['img_name'] = df_predictions['im_name'].map(lambda x: x.split("/")[-1])
df_predictions

,im_name,circle_hn,h_bar_hn,triangle_hn,v_bar_hn,y,y_hat,img_name
0,None,0,1,0,0,0,0,img_2373.png
1,None,0,0,0,0,0,0,img_6115.png
2,None,0,0,0,0,0,0,img_9540.png
3,None,0,0,0,1,0,1,img_8886.png
4,None,0,0,1,1,0,1,img_4070.png
...,...,...,...,...,...,...,...,...
9995,None,0,0,0,1,1,1,img_1105.png
9996,None,1,0,0,1,1,1,img_7574.png
9997,None,0,0,0,1,1,1,img_8647.png
9998,None,1,1,0,1,1,1,img_7212.png
9999,None,1,1,1,0,1,0,img_8121.png

In [27]:
df_predictions['y_hat'] = clf.predict(df_predictions[['circle_hn', 'h_bar_hn', 'triangle_hn', 'v_bar_hn']])
df_predictions = df_predictions.astype({'y': 'int64', 'y_hat': 'int64'})
hand_crafted_ft = pd.read_csv("hand_crafted_ft.txt", delimiter = "\t")
hand_crafted_ft
df_merged = pd.merge(hand_crafted_ft, df_predictions, on = ['img_name', 'y'])

          img_name  h_bar  v_bar  circle  triangle  y
0        img_0.png      0      1       0         0  1
1        img_1.png      0      1       0         0  1
2        img_2.png      0      0       0         0  0
3        img_3.png      1      0       0         0  1
4        img_4.png      0      1       1         0  1
...            ...    ...    ...     ...       ... ..
9995  img_9995.png      0      1       1         0  0
9996  img_9996.png      1      0       0         1  0
9997  img_9997.png      0      0       0         0  0
9998  img_9998.png      0      1       0         0  1
9999  img_9999.png      0      0       0         0  1

[10000 rows x 6 columns]

In [ ]:
df_merged.to_csv("final_concat_dataset.csv")

In [ ]:
np.sum(df_merged)